*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/Miner/build/
/Miner/dist/
/Miner/lib/
/Miner/build.xml
/Miner/manifest.mf
/Miner/nbproject/
/Wallet/nbproject/private/
Wallet/build.xml
Wallet/manifest.mf
Wallet/lib/nblibraries.properties
Wallet/nbproject
/Wallet/build/
/Wallet/dist/
Wallet/build/built-jar.properties
*.pem
Miner/block-chain.dat
Miner/block-chain.json